<% provide(:title, 'Contact Us')%>
<title>Ruby on Rails Tutorial Sample App | <%= yield(:title)%></title>
<h1>Contact Us</h1>
<p>
	Please contact us at our address and email address below:
	myaddress
	New York, NY
	amazing@yep.com
</p>