<footer class="footer">
	<small>
		<a href="http://rubyonrailsontutorial.org/">Rails Tutorial</a>
		by Michael Hartl
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="http://news.rubyonrailstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>